/* css variables */
* {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --aside-width: 250px;
  --header-height: 70px;
}
/* --- */
/* reset browser values */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
@font-face {
  font-family: Baloo;
  src: url('../fonts/BalooBhai-Regular.ttf');
}
@font-face {
  font-family: Boba;
  src: url('../fonts/Boba\ Cups.ttf');
}
/* --- */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: .2s;
}
.modal__layer {
  padding: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #00000090;
}
.modal__button {
  position: absolute;
  right: 16px;
  top: 16px;
}
.modal__template {
  pointer-events: none;
  opacity: 0;
}
.modal__content {
  max-width: 800px;
  width: 100%;
}
.modal--showing {
  opacity: 1;
  pointer-events: all;
}
.errors-list {
  position: fixed;
  width: 100%;
  align-items: center;
  top: 96px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
.error {
  list-style-type: none;
  padding: 8px 32px;
  border-radius: 8px;
  background-color: #ffcccc;
  transform: translateY(-60px);
  opacity: 0;
  animation: errorAnimation 10s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
  pointer-events: none;
}
.error__message {
  color: #ff0000;
}
@keyframes errorAnimation {
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}
.button {
  display: inline-block;
  width: fit-content;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #FF9A00; 
  color: #fff;
  border: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 4px;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;
}
.button--secondary {
  background-color: gray;
}
.button:hover {
  background-color:#d16623;
}
.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
}
.button--disabled {
  pointer-events: none;
  opacity: .5;
}
/* header style */
body > header {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 8px;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #FF9A00;
  box-shadow: 0 0 20px #00000010;
  z-index: 98;
}
.header__image {
  height: 100%;
}
.header__input {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 36px;
  border-radius: 8px;
  border: none;
  max-width: 700px;
  box-shadow: 0 0 8px #00000010;
}
/* --- */
/* aside style */
main {
  padding: 60px;
  padding-left: calc(var(--aside-width) + 60px);
  padding-top: calc(var(--header-height) + 60px);
}
main > aside {
  position: fixed;
  top: var(--header-height);
  left: 0;
  background-color: #ffd69a;
  width: var(--aside-width);
  box-shadow: 0 0 20px #00000010;
  height: calc(100vh - var(--header-height));
  z-index: 97;
  border-right: 1px solid #00000030;
}
main > aside > nav {
  height: 100%;
}
.aside-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.aside-menu__item {
  list-style-type: none;
}
.aside-menu__icon {
  width: 30px;
}
.aside-menu__link {
  display: flex;
  align-items: center;
  padding: 20px 12px;
  width: 100%;
  gap: 0 16px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #00000030;
}
.aside-menu__link--sth {
  background-color: #00000010;
}
.aside-menu__link--profile {
  border: none;
}
.menu-end__item {
  display: none;
}
/* --- */

/* media queries */
@media (max-width: 1024px) {
  :root {
    --aside-width: 60px;
  }
  body > header {
    justify-content: space-between;
    gap: 0 20px;
    padding: 0 8px;
  }
  .header__input {
    position: unset;
    transform: unset;
  }
  .aside-menu__icon {
    width: 30px;
  }
  .aside-menu__link {
    justify-content: center;
    gap: 0;
    font-size: 0;
  }
}
@media (max-width: 768px) {
  :root {
    --aside-height: 60px;
  }
  main {
    padding: 0;
    padding-top: calc(var(--header-height) + 20px);
    padding-bottom: calc(var(--aside-height) + 20px);
  }
  main > aside {
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    height: var(--aside-height);
    background-color: white;
    border: none;
    border-top: 1px solid #00000030;
  }
  main > aside nav {
    height: 100%;
  }
  .menu-start {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }
  .menu-end {
    display: none;
  }
  .menu-end__item {
    display: unset;
  }
  .aside-menu__item {
    width: 100%;
  }
  .aside-menu__link {
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
  }
}
/* --- */
