main {
  padding: 0;
  padding-left: var(--aside-width);
  padding-top: var(--header-height);
}
.infors {
  padding: 30px 60px;
  background-color: #f9f9f9;
}
.infors__profile-pic {
  width: 168px;
  border-radius: 168px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.infors__name {
  font-size: 32px;
}
.infors__username {
  display: block;
  font-size: 20px;
  margin: 8px 0;
  font-weight: bold;
  color: #FF9A00;
}
.infors__flex {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.infors__container {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.infors__statistic {
  list-style-type: none;
}
.publications {
  border-top: 1px solid #00000030;
  padding: 16px 60px;
  box-shadow: inset 0 0 20px #00000010;
}
.publications__title {
  padding: 16px 0;
  text-transform: uppercase;
  font-size: 16px;
}
.publications__grid {
  display: grid;
  width: 100%;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
}
.publication {
  position: relative;
  font-size: 0;
  border-radius: 6px;
  box-shadow: 0 0 10px #00000010;
  transition: .2s ease;
}
.publication__actions {
  opacity: 0;
  width: 100%;
  pointer-events: none;
  display: flex;
  gap: 8px;
  left: 0;
  top: 16px;
  padding: 0 16px;
  flex-wrap: wrap;
  position: absolute;
  transition: .2s ease;
}
.publication:hover {
  box-shadow: 0 0 20px #00000020;
  transform: scale(1.02);
}
.publication:hover > .publication__actions {
  opacity: 1;
  pointer-events: all;
}
.publication__image {
  border-radius: 6px 6px 0 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.publication footer {
  padding: 16px;
  font-size: 16px;
  border: 1px solid #00000030;
  border-radius: 0 0 6px 6px;
}
@media (max-width: 1024px) {
  .publications__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  main {
    padding-left: 0;
    padding-bottom: calc(var(--aside-height) + 16px);
  }
  .infors__profile-pic {
    width: 124px;
  }
  .infors__name {
    font-size: 22px;
  }
  .infors {
    padding: 16px;
  }
  .publications {
    padding: 0 16px;
  }
  .publications__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 468px) {
  .publications__grid {
    grid-template-columns: 1fr;
  }
}
