main {
  padding: 0;
  padding-left: var(--aside-width);
  padding-top: var(--header-height);
}
.user {
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
  padding: 16px;
}
.infors {
  padding: 16px 0;
  border-bottom: 1px solid #00000030;
}
.infors__flex {
  display: flex;
  gap: 0 16px;
}
.infors__container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.user__username {
  font-size: 20px;
  font-weight: normal;
}
.user__statistics {
  margin: 16px 0;
}
.user__statistic {
  font-size: 16px;
}
.user__name {
  font-size: 14px;
}
.user__statistic {
  list-style-type: none;
}
.user__profile-pic {
  width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 150px;
}
.user__menu {
  display: flex;
}
.user__item {
  display: flex;
  gap: 0 8px;
  border-top: 1px solid #F38D34;
  align-items: center;
  padding: 16px;
}
.publications__grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}
.publication {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}
.publication__actions {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
  opacity: 0;
  pointer-events: none;
  transition: .2s;
}
.publication:hover .publication__actions {
  opacity: 1;
  pointer-events: all;
}
.publication__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  main {
    padding-left: 0;
  }
  .user {
    padding: 0;
  }
  .infors {
    padding: 16px;
  }
  .infors__container {
    align-items: flex-start;
    flex-direction: column;
  }
  .user__profile-pic {
    width: 77px;
    border-radius: 77px;
  }
}
