<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BaturiPet</title>
</head>
<body>
  <h1>Tem certeza que deseja sair de sua conta?</h1>
  <form action="/user/logout" method="post">
    <input type="hidden" value=<%= token %> name="csrfToken">
    <a href="/">Não</a>
    <button type="submit">Sim</button>
  </form>
</body>
</html>